<div id="content" class="appraisal">
  <div class="object-title"><%= item %></div>
  <div id="guess-area">
    <div class="grey-overline overline">enter your appraisal guess</div>
    <input type="text" id="value" class="input-box" placeholder="$">
  </div>
  <div class="whitebox">
    <div id="time-remaining" class="timer-done">Timer</div>
    <div id="vote-submit" class="button orange float-button button-white-bg">SUBMIT</div>
  </div>
  <div id="average-area" class="greybox clear">
    <div id="players" class="guesses-count" style="color: rgb(255, 255, 255);">355 Guesses Counted</div>
    <div class="average-box">
      <div id="average-text" class="grey-overline overline total-guesses">average</div>
      <div id="average" class="guess-value">$52502</div>
    </div>
  </div>
</div>
